.RollDice {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

.RollDice-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.RollDice button {
    align-self: center;
    width: 15em;
    padding: 1.5em;
    font-size: 1em;
    border: 0;
    border-radius: 10px;
    color: white;
    background-color: dodgerblue;
    margin-top: 3em;
}

.RollDice button:hover {
    background-color: darkslateblue;
    cursor: pointer;
}